@{
    ViewData["Title"] = "Home";
}


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <title>@ViewData["Title"]</title>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Please choose what you would like to refactor</p>
</div>
