@{
    ViewData["Title"] = "Cell Unmerger";
}


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/WordDoc.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Word Doc</h1>
    <div class="FileUploadcontainer"> 

        <div class="Info-Box">
            <p>Place a file to extract case numbers</p> 
        </div>

        <form method="post" asp-controller="Service" asp-action="getFile" enctype="multipart/form-data">
            <label class="label" for="input">Upload File</label>
            <input class="FileInput" type="file" name="file" id="input" multiple>
            <button class="Submit" type="submit">Download File </button>
        </form>
    </div>



</body>
